@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poiret+One&display=swap");

/* imported font families: "Poiret One", cursive; font-family: "Josefin Sans", sans-serif;    */
$mainAccent: #ed254e;
$secondaryAccent:#4f4db3;
$headFont:"Poiret One", cursive;
$contentFont:"Josefin Sans", sans-serif;

@mixin heading($special) {
  font-family: $headFont;
  color:$special;
  text-align: center;
  margin-top: 0px;
}